<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <script>(function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.getElementsByTagName('script')[0]);})('cwr','4af8f9e1-7e15-4697-bf75-4cf53d96d280','1.0.0','us-west-2','https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js',{sessionSampleRate:1,guestRoleArn:"arn:aws:iam::691995883950:role/Cognito_ProductCatalogPoolUnauth_Role",identityPoolId:"us-west-2:344e1a82-d79a-4d5c-9e55-0f25756bafbb",endpoint:"https://dataplane.rum.us-west-2.amazonaws.com",telemetries:["performance","errors","http"],allowCookies:true,enableXRay:true});</script>
    <style>
        body {
        background-color: lightgrey;
        }
    </style>
    <title>Error - ProductCatalog</title>
    </head>
    <body>
        <h1>Okay, Houston, we've had a problem here:</h1>
        <p><b>Log correlation Id:</b> <span th:text="${correlationId}"/></p>
        <p><b>Cause:</b> <span th:text="${message}"/></p>
    </body>
</html>
