<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <script>(function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.getElementsByTagName('script')[0]);})('cwr','dea5e4e2-fa0f-4c24-b486-afc06cba4ea4','1.0.0','us-west-2','https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js',{sessionSampleRate:1,guestRoleArn:"arn:aws:iam::691995883950:role/RUM-Monitor-us-west-2-691995883950-8458812219361-Unauth",identityPoolId:"us-west-2:185a9208-c2b9-4bb6-b438-493d9bbe10fe",endpoint:"https://dataplane.rum.us-west-2.amazonaws.com",telemetries:["performance","errors","http"],allowCookies:true,enableXRay:true});</script>    
    <style>
        body {
        background-color: lightgrey;
        }
    </style>
    <title>Error - ProductCatalog</title>
    </head>
    <body>
        <h1>Okay, Houston, we've had a problem here:</h1>
        <p><b>Log correlation Id:</b> <span th:text="${correlationId}"/></p>
        <p><b>Cause:</b> <span th:text="${message}"/></p>
    </body>
</html>
