<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <script>(function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.getElementsByTagName('script')[0]);})('cwr','dea5e4e2-fa0f-4c24-b486-afc06cba4ea4','1.0.0','us-west-2','https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js',{sessionSampleRate:1,guestRoleArn:"arn:aws:iam::691995883950:role/RUM-Monitor-us-west-2-691995883950-8458812219361-Unauth",identityPoolId:"us-west-2:185a9208-c2b9-4bb6-b438-493d9bbe10fe",endpoint:"https://dataplane.rum.us-west-2.amazonaws.com",telemetries:["performance","errors","http"],allowCookies:true,enableXRay:true});</script>    <link th:href="@{/styles/main.css}" type="text/css" rel="stylesheet" />
    <style type="text/css">
        div#message {
            font-size: 150%;
            color: blue;
        }

        input {
            font-size: 100%;
        }

        tr:nth-of-type(odd) {
            background-color: [[${config.itemColor}]];
            color: black;
        }  

        div#container {
            display: flex;
            margin-top: 15px;            
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }        

        div#image {
            vertical-align: top; 
            padding-left: 20px;
        }
    </style>
</head>

<body>
    <div th:replace="fragments.html :: logout" />
    <div th:replace="fragments.html :: metadata" />
    <div id="header">Product Details</div>
    <div id="message" th:if="${newPrice} != null">
        <div th:text="'A price change request to $'+${newPrice}+' has been submitted.'" />
    </div>
    <div id="container" th:if="${product} != null">
        <table>
            <tr>
                <td><b>Id:</b></td>
                <td th:text="${product.id}" />
            </tr>
            <tr>
                <td><b>Title:</b></td>
                <td th:text="${product.title}" />
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td th:text="${product.description}" />
            </tr>
            <tr>
                <td><b>Category:</b></td>
                <td th:text="${product.productCategory}" />
            </tr>
            <!-- Insert the additional properties here -->
            <tr th:each="property: ${product.properties}">
                <td><b th:text="${property.key}+':'" /></td>
                <td th:text="${property.value}" />
            </tr>
            <!-- These core properties always stay at the bottom -->
            <tr>
                <td><b>Qty:</b></td>
                <td th:text="${product.qty}" />
            </tr>
            <tr>
                <td><b>Year:</b></td>
                <td th:text="${product.year}" />
            </tr>
            <tr>
                <td><b>Price:</b></td>
                <td th:if="${permissions.permittedToUpdatePrice} AND ${config.featureFlagPriceUpdate}" align="right">
                    <form action="#" th:action="@{/updatePrice}" th:object="${product}" method="POST">
                        <input type="hidden" th:field="*{id}" />
                        <input type="text" size="15" th:field="*{price}" style="text-align:right;"/>
                        <input type="submit" value="Update" />
                    </form>
                </td>
                <td th:unless="${permissions.permittedToUpdatePrice} AND ${config.featureFlagPriceUpdate}" th:text="'$'+${product.price}" />
            </tr>
        </table>
        <div id="image">
            <img width="500" th:src="${product.image}" alt="product image" />
        </div>
    </div>
    <div th:if="${product} == null" th:text="'Product Id='+${param.id}+' not found.'" style="font-size: 120%;" />
</body>

</html>