<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel='shortcut icon' type='image/x-icon' th:href="@{/images/favicon.ico}" />
    <link th:href="@{/styles/main.css}" type="text/css" rel="stylesheet" />    
    <style type="text/css">
        div#message {
            font-size: 150%;
            color: blue;
        }

        input {
            font-size: 100%;
        }

        table tbody tr:nth-child(even) {
            background-color: [[${config.itemColor}]];
            color: black;
        }        
    </style>
</head>
<body>
    <div th:replace="fragments.html :: logout" />
    <div th:replace="fragments.html :: metadata" />
    <div id="header">Product Details</div>
    <div id="message" th:if="${newPrice} != null">
        <div th:text="'A price change request to $'+${newPrice}+' has been submitted.'" />
    </div>
    <div th:if="${product} != null">
        <table width="100%">
            <tr>
                <td width="40%">
                    <table>
                        <tr>
                            <td><b>Id:</b></td>
                            <td th:text="${product.id}" />
                        </tr>
                        <tr>
                            <td><b>Title:</b></td>
                            <td th:text="${product.title}" />
                        </tr>
                        <tr>
                            <td><b>Description:</b></td>
                            <td th:text="${product.description}" />
                        </tr>
                        <tr>
                            <td><b>Category:</b></td>
                            <td th:text="${product.productCategory}" />
                        </tr>
                        <!-- Insert the additional properties here -->
                        <tr th:each="property: ${product.properties}">
                            <td><b th:text="${property.key}+':'" /></td>
                            <td th:text="${property.value}" />
                        </tr>
                        <!-- These core properties always stay at the bottom -->
                        <tr>
                            <td><b>Qty:</b></td>
                            <td th:text="${product.qty}" />
                        </tr>
                        <tr>
                            <td><b>Year:</b></td>
                            <td th:text="${product.year}" />
                        </tr>
                        <tr>
                            <td><b>Price:</b></td>
                            <td th:unless="${permissions.permittedToUpdatePrice}" th:text="'$'+${product.price}" />
                            <td th:if="${permissions.permittedToUpdatePrice}" align="right">
                                <form action="#" th:action="@{/updatePrice}" th:object="${product}" method="POST">
                                    <input type="hidden" th:field="*{id}" />
                                    <input type="text" size="6" th:field="*{price}" />
                                    <input type="submit" value="Update" />
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div style="text-align: left; vertical-align: top; padding-left: 20px;">
                        <img width="500" th:src="${product.image}" alt="product image" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${product} == null" th:text="'Product Id='+${param.id}+' not found.'" style="font-size: 120%;" />
</body>

</html>