<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <script>(function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.getElementsByTagName('script')[0]);})('cwr','dea5e4e2-fa0f-4c24-b486-afc06cba4ea4','1.0.0','us-west-2','https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js',{sessionSampleRate:1,guestRoleArn:"arn:aws:iam::691995883950:role/RUM-Monitor-us-west-2-691995883950-8458812219361-Unauth",identityPoolId:"us-west-2:185a9208-c2b9-4bb6-b438-493d9bbe10fe",endpoint:"https://dataplane.rum.us-west-2.amazonaws.com",telemetries:["performance","errors","http"],allowCookies:true,enableXRay:true});</script>    <link th:href="@{/styles/main.css}" type="text/css" rel="stylesheet" />    
    <style type="text/css">
        div#header,div#version {
            display: inline;
        }

        table {
            margin-top: 15px;
        }

        .priceIncrease {
            color: red;
            text-decoration: line-through;
        }

        .priceDrop {
            color: blue;
            text-decoration: line-through;
        }

        tr:nth-of-type(even) {
            background-color: [[${config.itemColor}]];
            color: black;
        }
    </style>
</head>
<body>
    <div th:replace="fragments.html :: logout" />
    <div th:replace="fragments.html :: metadata" />
    <div id="header">Product Catalog</div>
    <div id="version" th:text="'('+${@environment.getProperty('spring.application.version')}+')'" />
    <table>
        <th>ID</th>
        <th>Year</th>
        <th>Title</th>
        <th>Category</th>
        <th>Inventory</th>
        <th>Price</th>
        <th>Price Trend</th>
        <tr th:each="item: ${catalog}">
            <td><a th:href="@{product(id=${item.id})}" th:text="${item.id}" target="_blank" /></td>
            <td th:text="${item.year}" />
            <td th:text="${item.title}" />
            <td th:text="${item.productCategory}" />
            <td>
                <div th:text="${item.qty}" style="text-align: right;" />
            </td>
            <td th:text="'$'+${item.price}" />
            <td>
                <div th:if="${item.oldPrice} > 0">
                    <div class="priceIncrease" th:if="${item.price} > ${item.oldPrice}"
                        th:text="'$'+${item.oldPrice}" />
                    <div class="priceDrop" th:if="${item.price} < ${item.oldPrice}" th:text="'$'+${item.oldPrice}" />
                </div>
            </td>
        </tr>
    </table>
</body>

</html>